.App {
  display:flex;
  flex-direction:column;
}

form{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
 border:1px solid;
 padding:20px;
}
input{
  margin: 10px;
}

.songs{
  border:1px solid;
  display:flex;
  flex-wrap: wrap;
}
.single{
  padding: 30px;
  border:1px solid;
  width: 200px;
  margin: 10px;
}
